language: java
sudo: false
cache:
  directories:
  - "$HOME/.m2"
before_install:
- echo $GPG_SECRET_KEYS | base64 --decode | $GPG_EXECUTABLE --import --batch || true
- echo $GPG_OWNERTRUST | base64 --decode | $GPG_EXECUTABLE --import-ownertrust --batch
  || true
matrix:
  include:
  - jdk: openjdk8
    dist: xenial
  - jdk: openjdk11
    dist: xenial
services:
- docker
install:
- mvn --settings .maven.xml install -DskipTests=true -Dgpg.skip -Dmaven.javadoc.skip=true
  -B -V
script:
- if [[ "$TRAVIS_BRANCH" == "main"  ||  "$TRAVIS_BRANCH" == "travis" ]] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
  echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin;
  fi
deploy:
- provider: script
  script: make docker-build && make docker-push
  skip_cleanup: true
  on:
    tags: true
    jdk: openjdk8
- provider: script
  script: mvn clean deploy --settings .maven.xml -DskipTests=true -B -U -Prelease
  skip_cleanup: true
  on:
    tags: true
    jdk: openjdk8
notifications:
  slack:
    if: branch = main
    on_pull_requests: false
    on_success: never
    on_failure: change
    rooms:
      secure: Yd0IZ2zGmRm64fVwbPebNJ+VJxT958iT3Zz7xP1CSkpR+w6rUulQhWvsn2ka4Kqge+TaXbhNu3I55wRdPCxLrEkTNgCdTkJ9y5HYMxPHpRcQ0XFxJHBmAW6y9foUdSbk2KdM1TKwNUnCp43QmSMWfaMjnvNbh2GzadS/JS1nmBI=
