/*
 * This code was generated by
 * ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
 *  |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
 *  |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \
 *
 * Twilio Knowledge API
 * APIs for managing knowledge bases and knowledge content for AI-powered applications.
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.twilio.rest.knowledge.v2;

import com.twilio.base.Fetcher;
import com.twilio.base.TwilioResponse;
import com.twilio.exception.ApiConnectionException;
import com.twilio.exception.ApiException;
import com.twilio.exception.RestException;
import com.twilio.exception.RestStandardException;
import com.twilio.http.HttpMethod;
import com.twilio.http.Request;
import com.twilio.http.Response;
import com.twilio.http.TwilioRestClient;
import com.twilio.rest.Domains;
import com.twilio.type.*;
import java.io.InputStream;

public class OperationFetcher
    extends Fetcher<Operation.FetchOperationResponse> {

    private String pathOperationId;

    public OperationFetcher(final String pathOperationId) {
        this.pathOperationId = pathOperationId;
    }

    private Response makeRequest(final TwilioRestClient client) {
        String path = "/v2/ControlPlane/Operations/{operationId}";

        path =
            path.replace(
                "{" + "operationId" + "}",
                this.pathOperationId.toString()
            );

        Request request = new Request(
            HttpMethod.GET,
            Domains.KNOWLEDGE.toString(),
            path
        );

        Response response = client.request(request);

        if (response == null) {
            throw new ApiConnectionException(
                "Operation fetch failed: Unable to connect to server"
            );
        } else if (!TwilioRestClient.SUCCESS.test(response.getStatusCode())) {
            InputStream inputStream = response.getStream();
            RestStandardException standardException =
                RestStandardException.fromJson(
                    inputStream,
                    client.getObjectMapper()
                );
            if (
                standardException != null && standardException.getType() != null
            ) {
                throw new ApiException(standardException);
            }
            RestException restException = RestException.fromJson(
                inputStream,
                client.getObjectMapper()
            );
            if (restException == null) {
                throw new ApiException(
                    "Server Error, no content",
                    response.getStatusCode()
                );
            }
            throw new ApiException(restException);
        }
        return response;
    }

    @Override
    public Operation.FetchOperationResponse fetch(
        final TwilioRestClient client
    ) {
        Response response = makeRequest(client);
        return Operation.FetchOperationResponse.fromJson(
            response.getStream(),
            client.getObjectMapper()
        );
    }

    @Override
    public TwilioResponse<Operation.FetchOperationResponse> fetchWithResponse(
        final TwilioRestClient client
    ) {
        Response response = makeRequest(client);
        Operation.FetchOperationResponse content =
            Operation.FetchOperationResponse.fromJson(
                response.getStream(),
                client.getObjectMapper()
            );
        return new TwilioResponse<>(
            content,
            response.getStatusCode(),
            response.getHeaders()
        );
    }
}
