/*
 * This code was generated by
 * ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
 *  |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
 *  |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \
 *
 * Twilio - Iam
 * This is the public Twilio REST API.
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.twilio.rest.iam.v1;

import com.twilio.base.Page;
import com.twilio.base.Reader;
import com.twilio.base.ResourceSet;
import com.twilio.constant.EnumConstants.ParameterType;
import com.twilio.converter.Serializer;
import com.twilio.exception.ApiConnectionException;
import com.twilio.exception.ApiException;
import com.twilio.exception.RestException;
import com.twilio.http.HttpMethod;
import com.twilio.http.Request;
import com.twilio.http.Response;
import com.twilio.http.TwilioRestClient;
import com.twilio.rest.Domains;

public class GetApiKeysReader extends Reader<GetApiKeys> {

    private String accountSid;
    private Long pageSize;

    public GetApiKeysReader(final String accountSid) {
        this.accountSid = accountSid;
    }


    public GetApiKeysReader setAccountSid(final String accountSid) {
        this.accountSid = accountSid;
        return this;
    }


    public GetApiKeysReader setPageSize(final Long pageSize) {
        this.pageSize = pageSize;
        return this;
    }


    @Override
    public ResourceSet<GetApiKeys> read(final TwilioRestClient client) {
        return new ResourceSet<>(this, client, firstPage(client));
    }

    public Page<GetApiKeys> firstPage(final TwilioRestClient client) {

        String path = "/v1/Keys";


        Request request = new Request(
                HttpMethod.GET,
                Domains.IAM.toString(),
                path
        );
        addQueryParams(request);

        return pageForRequest(client, request);
    }

    private Page<GetApiKeys> pageForRequest(final TwilioRestClient client, final Request request) {
        Response response = client.request(request);
        if (response == null) {
            throw new ApiConnectionException("GetApiKeys read failed: Unable to connect to server");
        } else if (!TwilioRestClient.SUCCESS.test(response.getStatusCode())) {
            RestException restException = RestException.fromJson(
                    response.getStream(),
                    client.getObjectMapper());

            if (restException == null) {
                throw new ApiException("Server Error, no content", response.getStatusCode());
            }
            throw new ApiException(restException);
        }

        return Page.fromJson(
                "keys",
                response.getContent(),
                GetApiKeys.class,
                client.getObjectMapper());
    }

    @Override
    public Page<GetApiKeys> previousPage(final Page<GetApiKeys> page, final TwilioRestClient client) {
        Request request = new Request(HttpMethod.GET, page.getPreviousPageUrl(Domains.API.toString()));
        return pageForRequest(client, request);
    }

    @Override
    public Page<GetApiKeys> nextPage(final Page<GetApiKeys> page, final TwilioRestClient client) {
        Request request = new Request(HttpMethod.GET, page.getNextPageUrl(Domains.API.toString()));
        return pageForRequest(client, request);
    }

    @Override
    public Page<GetApiKeys> getPage(final String targetUrl, final TwilioRestClient client) {
        Request request = new Request(HttpMethod.GET, targetUrl);
        return pageForRequest(client, request);
    }

    private void addQueryParams(final Request request) {


        if (accountSid != null) {
            Serializer.toString(request, "AccountSid", accountSid, ParameterType.QUERY);
        }


        if (pageSize != null) {
            Serializer.toString(request, "PageSize", pageSize, ParameterType.QUERY);
        }


    }
}
