/*
 * This code was generated by
 * ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
 *  |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
 *  |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \
 *
 * Twilio - Iam
 * This is the public Twilio REST API.
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.twilio.rest.iam.v1;

import com.twilio.base.Creator;
import com.twilio.base.TwilioResponse;
import com.twilio.constant.EnumConstants;
import com.twilio.constant.EnumConstants.ParameterType;
import com.twilio.converter.Serializer;
import com.twilio.exception.ApiConnectionException;
import com.twilio.exception.ApiException;
import com.twilio.exception.RestException;
import com.twilio.http.HttpMethod;
import com.twilio.http.Request;
import com.twilio.http.Response;
import com.twilio.http.TwilioRestClient;
import com.twilio.rest.Domains;
import com.twilio.type.*;

public class NewApiKeyCreator extends Creator<NewApiKey> {

    private String accountSid;
    private String friendlyName;
    private NewApiKey.Keytype keyType;
    private Object policy;

    public NewApiKeyCreator(final String accountSid) {
        this.accountSid = accountSid;
    }

    public NewApiKeyCreator setAccountSid(final String accountSid) {
        this.accountSid = accountSid;
        return this;
    }

    public NewApiKeyCreator setFriendlyName(final String friendlyName) {
        this.friendlyName = friendlyName;
        return this;
    }

    public NewApiKeyCreator setKeyType(final NewApiKey.Keytype keyType) {
        this.keyType = keyType;
        return this;
    }

    public NewApiKeyCreator setPolicy(final Object policy) {
        this.policy = policy;
        return this;
    }

    private Response makeRequest(final TwilioRestClient client) {
        String path = "/v1/Keys";

        Request request = new Request(
            HttpMethod.POST,
            Domains.IAM.toString(),
            path
        );
        request.setContentType(EnumConstants.ContentType.FORM_URLENCODED);
        addPostParams(request);

        Response response = client.request(request);

        if (response == null) {
            throw new ApiConnectionException(
                "NewApiKey creation failed: Unable to connect to server"
            );
        } else if (!TwilioRestClient.SUCCESS.test(response.getStatusCode())) {
            RestException restException = RestException.fromJson(
                response.getStream(),
                client.getObjectMapper()
            );
            if (restException == null) {
                throw new ApiException(
                    "Server Error, no content",
                    response.getStatusCode()
                );
            }
            throw new ApiException(restException);
        }
        return response;
    }

    @Override
    public NewApiKey create(final TwilioRestClient client) {
        Response response = makeRequest(client);
        return NewApiKey.fromJson(
            response.getStream(),
            client.getObjectMapper()
        );
    }

    @Override
    public TwilioResponse<NewApiKey> createWithResponse(
        final TwilioRestClient client
    ) {
        Response response = makeRequest(client);
        NewApiKey content = NewApiKey.fromJson(
            response.getStream(),
            client.getObjectMapper()
        );
        return new TwilioResponse<>(
            content,
            response.getStatusCode(),
            response.getHeaders()
        );
    }

    private void addPostParams(final Request request) {
        if (accountSid != null) {
            Serializer.toString(
                request,
                "AccountSid",
                accountSid,
                ParameterType.URLENCODED
            );
        }

        if (friendlyName != null) {
            Serializer.toString(
                request,
                "FriendlyName",
                friendlyName,
                ParameterType.URLENCODED
            );
        }

        if (keyType != null) {
            Serializer.toString(
                request,
                "KeyType",
                keyType,
                ParameterType.URLENCODED
            );
        }

        if (policy != null) {
            Serializer.toString(
                request,
                "Policy",
                policy,
                ParameterType.URLENCODED
            );
        }
    }
}
